/* css reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
/* reset ends here */

/* utility classes */

.container {
  /* width: 95%; */
  /* max-width: 1280px; */
  margin: 0 auto;
}

.flex {
  display: flex;
}

/* utility class end here */
#root {
  font-family: "Lato", serif;
  font-weight: 600;
}

.input-label {
  font-size: 0.8rem;
  color: rgb(99, 91, 91);
}

.link {
  color: black;
}

.cv-wrapper > .container {
  align-items: flex-start;
  gap: 16px;
}

.cv-builder,
.cv-preview {
  width: 100%;
}

.cv-builder {
  padding-top: 1.5rem;
  padding-left: 1.5rem;
}

.data-btns {
  display: flex;
  gap: 0.8em;
  justify-content: flex-end;
}

/* Common styles for all data buttons */
.data-btn {
  appearance: button;
  border: 1px solid;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Nunito, Roboto, "Proxima Nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  transition: all 80ms ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: fit-content;
}

/* Load Demo Button (Blue) */
.load-demo {
  background-color: #1652f0;
  border-color: #1652f0;
}

.load-demo:hover,
.load-demo:active {
  background-color: transparent;
  color: #1652f0;
}

/* Clear All Button (Red) */
.clear-all {
  background-color: #ff4742;
  border-color: #ff4742;
}

.clear-all:hover,
.clear-all:active {
  background-color: transparent;
  color: #ff4742;
}

/* Disabled state */
.data-btn:disabled {
  opacity: 0.5;
}

.cv-preview {
  background-color: #656e83;
  padding-block: 2.5em;
}

.cv-preview__file {
  width: 80%;
  background-color: white;
  margin: 0 auto;
  height: auto;
}

.cv__header {
  background-color: #91d8e2;
  padding-left: 2.5rem;
}

.cv__header__text {
  border-left: 5px solid white;
  padding-left: 1rem;
}

.cv__body {
  padding: 1.5rem 3.5rem;
}

.cv__body__section {
  margin-bottom: 1rem;
}

.section__title {
  display: inline-block;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-size: 0.8rem;
  border-radius: 2px;
  padding: 0.05em 0.5em;
}

.section__content {
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

.section__item {
  margin-bottom: 0.5rem;
}

.section__item__secondary__title {
  font-size: 0.7rem;
  color: rgb(100, 98, 98);
}

section.contact-links > .section__content {
  display: flex;
  gap: 0.5em;
}

.skill__name {
  display: inline-block;
  width: 50%;
}

/* font usages */
/* .lato-thin {
  font-family: "Lato", serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", serif;
  font-weight: 900;
  font-style: italic;
} */
