/* css reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
/* reset ends here */

/* utility classes */

.container {
  width: 95%;
  max-width: 1280px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

/* utility class end here */
.cv-wrapper > .container {
  align-items: flex-start;
  gap: 16px;
}

.cv__builder,
.cv-preview {
  width: 100%;
}

.cv-preview {
  background-color: #656e83;
  padding-block: 2.5em;
}

.cv-preview__file {
  width: 80%;
  background-color: white;
  margin: 0 auto;
  height: auto;
}

.input-label {
  font-size: 0.8rem;
  color: rgb(99, 91, 91);
}
